clients/clients-impl/src/test/resources/bighugelabs/love.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="words" type="wordsType"/>
  <xs:complexType name="wType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="p" use="optional"/>
        <xs:attribute type="xs:string" name="r" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="wordsType">
    <xs:sequence>
      <xs:element type="wType" name="w" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>