services/services-api/src/main/resources/wsdl/ISynonymsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ISynonymsService" targetNamespace="http://synonyms.services.namesfound.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://synonyms.services.namesfound.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns="http://synonyms.services.namesfound.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://synonyms.services.namesfound.com/">
  <xs:complexType name="word">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="synonyms" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="word" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getWord" type="getWord"/>
  <xs:complexType name="getWord">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getWordResponse" type="getWordResponse"/>
  <xs:complexType name="getWordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="word"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getSynonyms" type="getSynonyms"/>
  <xs:complexType name="getSynonyms">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getSynonymsResponse" type="getSynonymsResponse"/>
  <xs:complexType name="getSynonymsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSynonymsResponse">
    <wsdl:part name="parameters" element="tns:getSynonymsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWord">
    <wsdl:part name="parameters" element="tns:getWord">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWordResponse">
    <wsdl:part name="parameters" element="tns:getWordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSynonyms">
    <wsdl:part name="parameters" element="tns:getSynonyms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISynonymsServicePortType">
    <wsdl:operation name="getWord">
      <wsdl:input name="getWord" message="tns:getWord">
    </wsdl:input>
      <wsdl:output name="getWordResponse" message="tns:getWordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSynonyms">
      <wsdl:input name="getSynonyms" message="tns:getSynonyms">
    </wsdl:input>
      <wsdl:output name="getSynonymsResponse" message="tns:getSynonymsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISynonymsServiceSoapBinding" type="tns:ISynonymsServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getWord">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getWord">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSynonyms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSynonyms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSynonymsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISynonymsService">
    <wsdl:port name="ISynonymsServicePort" binding="tns:ISynonymsServiceSoapBinding">
      <soap:address location="http://localhost:9090/ISynonymsServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
